/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
    background-color: #FFD82E;


    }
    .pizza4{
      width: 100%;
      height: 50%;
      background-color: #FFD82E;
      background-image: url(pizza3.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100%;


    }

    header {
        background-color:#FF1006 ;
        padding: 20px;
        border-width: 5px;
        border-color: #FF8413;
        border-style: solid;
        margin: 3px;
        text-align: center;
        font-size: 30px ;
        display: block ;
    }
    nav {
        float: center;
    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
        background-color: #FF8413;

    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    g1 {
        color: red;
        font-weight: bold;
        border-width: 4px;
        border-style: solid;

    }
    section {

        float: left;
        padding: 10px;
        padding-top: 70px;
        width: 100%;
        display: inline-block;
        float: left;
        margin: 0 auto;

    }
    .pizza1{
      width: 60%;
      float: left;
      padding: 10px;
      border-color: FF8413;
      border-width: 5px;
      border-style: solid;
      background-color: E84006;
      margin: 0 auto;

    }
    .pizza2{
      background-color:
      float: right;
      width: 900px;
      padding: 10x;
      border-color: E84006;
      border-width: 5px;
      border-style: solid;
      background-color: FF8413 ;
      margin: 0 auto;

    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }

        th {
            height: 100px;
        text-align: center;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        font-size: 30 px;
        font-style: oblique;
        font-family: cursive;
        align-content: center;
        }
        table {
          border-spacing: 0.5rem;
          border-collapse: separate;
          width: 100%;
          border-style: groove;
          border-width:3px;
          border-color: #081c30;
          margin-left: 7%;


        }
        td {
            height: 50px;
            vertical-align: bottom;
        padding: 15px;

        }
        .subTitle > th{
          font-size: 15 px;
          text-align: left;
          background-color: #78d22d;
        }
        tr:hover {
          background-color: #b9bc8f;
          color: #8b2789;
          font-weight: bold;
          font-family: sans-serif;
        }
